body {
	background-color: #B5F4FF;
}

h1 {
	font-family: Helvetica;
}

header {
	background-color: #007bff;
	border: 2px solid black;
	border-radius: 10px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav a {
	color: white;
	text-decoration: none;
	transition: border-color 0.3s ease;
}

a:hover {
	color: blue;
	transform: scale(1.1);
}

#contenido {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#contenido h2 {
	font-size: 25px;
}

#contenido p {
	font-family: Arial;
	color: black;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contenido img {
	width: 50%;
	height: auto;
	border: 2px outset black;
	box-shadow: -3px 3px 3px black;
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
}

label {
	font-style: italic;
}

#images {
	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
  	gap: 10px;
  	width: 100%;
}